:host {
    display: flex;
    align-items: center;
    padding: 12px;
    transition: .4s transform;
}
:host:hover {
    transform: scale(1.05);
}
h1 {
    font-size: var(--avatar-font-size, 14px);
}

img {
    width: var(--avatar-width, 50px);
    height: var(--avatar-width, 50px);
    border-radius: 100%;
    border: 1px solid lightgray;
    margin-right: 12px;
}

