
:host {
    --avatar-width: 40px;
}

.container {
    display: flex;
    height: calc(100vh - 48px);
}

.container_user {
    border-right: 1px solid lightgray;
    background: whitesmoke;
}

app-board {
    flex: 1;
}
.active {
    color: red;
}