
:host {
    --avatar-width: 40px;
}

header {
    background: #80dccb;
}

button {
    border: none;
    background: none;
    padding: 12px;
    border-bottom: 4px solid transparent;
    transition: .5s all;
    cursor: pointer
}
button:hover {
    font-weight: bold;
    border-bottom: 4px solid white;
}